$colorBorderDay: #ceddd0; 
$colorBorderViewGrid: #dde0eb; 
$colorBorderCell: #d3c7c7; 

$colorTextNote: #ffffff; 
$colorNote: rgba(116, 189, 115, 1); 
$colorNoteDrag: rgba(116, 189, 15, 0.4); 
$colorNoteController: rgb(212, 124, 65);

$maxWidthCalendar: 1024px;
$widthFirstCell: 70px;
$heightCell: 50px;