$colorBorderDay: #ceddd0; 
$colorBorderViewGrid: #dde0eb; 
$colorBorderCell: #e4e4e48f; 

$colorTextNote: #292727; 
$colorTextNoteDrag:  #b3aeaef6; 
$colorNote: #ebeec5; 
$colorNoteDrag:  #f5f7dfa4; 
$colorNoteController:#ebf193; 

$maxWidthCalendar: 1200px;
$widthFirstCell: 70px;
$heightCell: 50px;